{
  "presets": [
    ["es2015", {modules: false}],
    ["minify", {
      "mangle": false
    }]
  ],
  "plugins": [
    "version-inline"
  ],
  "presets": [
    "minify"
  ],
  "env": {
    "reduce-dist": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "debug": true,
            "targets": {
              "chrome": 52,
              "firefox": 54,
              "safari": 10,
              "node": 6,
              "edge": 25
            },
            "exclude": [
              "transform-es2015-for-of"
            ]
          }
        ]
      ],
    },
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
