{
  "extends": [
    "eslint-config-uber-es2015",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "guard-for-in": 0,
    "no-inline-comments": 0,
    "camelcase": 0,
    "sort-vars": 0
  },
  "globals": {
    "performance": true,
    "process": true
  }
}
